nav{
    background: black;
}
.img_st{
    width: 200px;
    height: 200px;
}
i{
    font-size: 30px;
    color: #6c757d ;
}   
.container_icon{
    margin: 0;
    padding: 10px 100px 10px 100px;
}
.fa-trash-alt{
    font-size: 20px;
}